{% extends 'base.html' %}
{% load static %}
{%block metadescription %}
    {% if category %}
        {{category.description | truncatewords:155 }}
    {% else %}
        welcome to BLACK FRIDAY where you can buy different items...
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{category.name}} - BLACK FRIDAY
    {% else %}
    See Our New Collection - BLACK FRIDAY
    {% endif %}
{% endblock %}

{% block content %}
{% if category %}
<div>
    <div class="row my_row_class">
        <div class="mx-auto">
        <p><a href="{% url 'shop:allProdCat' %}">Our Product Collection</a></p>
        </div>
    </div>
</div>
{% endif %}
<div class="mx-auto">
    {% if category %}
        <img class="my_image" src="{{category.image.url}}" alt = "{{category.name}}" >
</div>
<br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
    <div>
<img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="Our product banner" height=310px width=1550px>
    </div>  
    <br>
    <div>
        <h1 class="text-center my_title">Our Product Collection</h1>
        <p1 class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p1>
    </div> 
{% endif %}
<div class="container">
    <div class="row mx-auto">
        {% for product in products.object_list %}
        <div class="card my_bottom_margin col-9 col-sm-12 col-md-4  xol-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image"src="{{product.image.url}}" alt="{{product.name}}" style="width: 350px; height:350px;"></a>
                <div class="card-body">
                    <h4 class="text-center"><b>{{product.name}}</b></h4>
                    <p class="text-center">{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a> 
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
</div>
{% endblock %}